@charset 'UTF-8';

#wp-admin-bar-wpaas .dashicons-admin-generic::before {
	top: 2px;
}

#wp-admin-bar-wpaas-admin-bar-my-account > .ab-item::before {
	display: block !important;
	content: "\f310" !important;
	top: 2px;
}

#wp-admin-bar-wpaas .ab-sub-wrapper .dashicons {
	margin-top: 4px;
	font: 16px/1 'dashicons';

	 -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wp-admin-bar-wpaas-pro-connection-key,
.wp-admin-bar-wpaas-help {
	line-height: inherit !important;
	display: block;
	font-size: inherit !important;
}

.wpaas-help-support {
	background-color: #FAFAFA;
	position: fixed;
	bottom: 0;
	right: 0;
	height: calc(100% - 32px);
	width: 100%;
	max-width: 33%;
	right: -33%;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
	transition: right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	z-index: 999;
}

.wpaas-help-support.visible {
	right: 0;
}

.wpaas-help-support .close {
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 30px;
	webkit-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	-ms-transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	opacity: 0.8;
}

.wpaas-help-support .close:hover {
	opacity: 1;
	transform: scale(1.1);
}

.wpaas-help-support .preloader {
	margin: 0 auto;
	width: 22px;
}

.wpaas-help-support iframe {
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 960px) {
	.wpaas-help-support {
		max-width: 50%;
		right: -50%;
	}
}

@media screen and ( max-width: 782px ) {

	#wpadminbar li#wp-admin-bar-wpaas {
		display: block;
	}

	#wp-admin-bar-wpaas .ab-icon.dashicons-admin-generic:before {
		top: 0;
		font-size: 33px;
	}

	.wpaas-help-support {
		height: calc(100% - 46px);
		max-width: 100%;
		right: -100%;
	}

}

@media (prefers-reduced-motion: reduce) {
	.wpaas-help-support {
		transition: none;
	}
}

/* RTL Support */
body.rtl .wpaas-help-support {
	left: -33%;
	right: 100%;
}

body.rtl .wpaas-help-support.visible {
	right: 67%;
}

body.rtl .wpaas-help-support .close {
	right: 5px;
}

@media only screen and (max-width: 960px) {
	body.rtl .wpaas-help-support.visible {
		left: -50%;
		right: 50%;
	}
}

@media screen and ( max-width: 782px ) {
	body.rtl .wpaas-help-support.visible {
		right: 0;
	}
}
